.cell {
  padding: 10px;
}

.checkbox {
  padding-bottom: 18px;
}

.save-button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px; /* Optional: Adds space above the save button */
  text-align: center; /* Optional: Centers the save button */
}
