<div class="password-container">
  <h2>Saved Passwords</h2>

  <table mat-table [dataSource]="passwords()" class="mat-elevation-z8">
    <!-- Checkbox Column-->
    <ng-container matColumnDef="select">
      <!-- <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        ></mat-checkbox>
      </th> -->
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="cell">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(element) : null"
          [checked]="selection.isSelected(element)"
          class="checkbox"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Website Column -->
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let element" class="cell">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="element.website" />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- EmailColumn -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element" class="cell">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="element.email" />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element" class="cell">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="element.username" />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let element" class="cell">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="element.password" />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Comments Column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>Comments</th>
      <td mat-cell *matCellDef="let element" class="cell">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="element.comments" />
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Save Button -->
  <div class="save-button-container">
    <button mat-raised-button color="primary" (click)="saveAllPasswords()">
      Save Changes
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="selection.isEmpty()"
      (click)="deleteSelectedPasswords()"
    >
      Delete
    </button>
  </div>
</div>
