<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Website</mat-label>
    <input
      matInput
      formControlName="website"
      placeholder="Enter website name"
      required
    />
    <mat-error *ngIf="form.get('website')?.hasError('required')"
      >Website is required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Enter email"
      required
    />
    <mat-error *ngIf="form.get('email')?.hasError('required')"
      >Email is required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      placeholder="Enter username"
      required
    />
    <mat-error *ngIf="form.get('username')?.hasError('required')"
      >Username is required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      placeholder="Enter password"
      [type]="showPassword ? 'text' : 'password'"
      required
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="togglePasswordVisibility()"
    >
      <mat-icon>{{ showPassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('password')?.hasError('required')"
      >Password is required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Comments</mat-label>
    <textarea
      matInput
      formControlName="comments"
      placeholder="Additional notes"
    ></textarea>
  </mat-form-field>

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Save Password
    </button>
    <button mat-raised-button color="warn" type="button" (click)="cancelForm()">
      Cancel
    </button>
  </div>
</form>
